
<div class="post">
    <h2 class="post_title">
       {{ post.id }} -  {{ post.title }}
    </h2>
    <p class="post_info">
	{% if (post.user!=null) %}
        	by {{  (post.user.fullName) }} 
	{% endif  %}
	on {{ post.createdAt | date('F jS, Y') }}
    </p>
    <p class="post_body">
        {{ post.content }}
    </p>
    {% include 'BlogBundle:Blog:tags.html.twig' with { 'tags' : post.tags } %}
</div>

